@import url('https://fonts.googleapis.com/css2?family=Mate:ital@1&display=swap');

//font-family: 'Mate', serif;
.tech-container{
    height: 100vh;
    width: 100vw;
    background-image: url('../medias/wip.jpeg');
    background-position: center;
    background-size: cover;
}